<div class="navbar-dark bg-dark">
    <footer class="page-footer font-small indigo">
        <div class="container text-center text-md-left">
            <div class="row">
                <div class="col-md-3 mx-auto">
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a routerLink="/">Home</a>
                        </li>
                    </ul>
                </div>
                <hr class="clearfix w-100 d-md-none">
                <div class="col-md-3 mx-auto">
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4">---</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a routerLink="/boards">Boards</a>
                        </li>
                    </ul>
                </div>
                <hr class="clearfix w-100 d-md-none">
                <div class="col-md-3 mx-auto">
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4">---</h5>
                    <ul *ngIf="!isLogged" class="list-unstyled">
                        <li>
                            <a routerLink="/login">Login</a>
                        </li>
                    </ul>
                </div>
                <hr class="clearfix w-100 d-md-none">
                <div class="col-md-3 mx-auto">
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4">---</h5>
                    <ul *ngIf="!isLogged" class="list-unstyled">
                        <li>
                            <a routerLink="/register">Register</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright text-center py-3">© 2020 Bobi:
            
          </div>

    </footer>
</div>